.cardBody {
    width: 300px;
    padding: 5px;
}

.cardImg {
    width: 300px;
    height: auto;
    border-radius: 10% 10% 0 0;
    z-index: -1;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bgParallax {
    background-image: url("../resources/img/portugal2.jpg");
    min-height: 180px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.listCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

.discoverCard {
    width: 250px;
    height: 250px;
    margin: 20px;
}

.discoverImg {
    width: 250px;
    height: 250px;
}

.discoverContent {
    font-size: 30px;
}